name: Terraform + Ansible CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # ----------------------------
    # Terraform
    # ----------------------------
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Terraform Apply
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      run: terraform apply -auto-approve tfplan

    # ----------------------------
    # Get Docker Server IP
    # ----------------------------
    - name: Get Docker Server IP
      run: |
        echo "DOCKER_IP=$(terraform output -raw docker_server_public_ip)" >> $GITHUB_ENV

    # ----------------------------
    # SSH Key from Terraform
    # ----------------------------
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        terraform output -raw ssh_private_key > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H $DOCKER_IP >> ~/.ssh/known_hosts

    # ----------------------------
    # Generate Ansible Inventory
    # ----------------------------
    - name: Generate inventory
      run: |
        cat <<EOF > app/inventory.ini
        [docker]
        docker ansible_host=$DOCKER_IP ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa
        EOF

    # ----------------------------
    # Run Ansible Playbook
    # ----------------------------
    - name: Run Ansible Playbook
      working-directory: app
      run: |
        sudo apt update
        sudo apt install -y ansible
        ansible-playbook -i inventory.ini docker-setup.yml
